<template id="Archive">
<v-container>
    <v-list>
        <v-list-item>
            <v-list-item-title>
                • <strong>Snake</strong> (Bryhton,Html) - Simple classical snake game
            </v-list-item-title>
        </v-list-item>
        <v-list-item class="justify-center">
            <v-img
                src="/public/snake-game.png"
                max-width="200"
                class="mx-auto my-4"
                alt="Snake Game Screenshot"
            ></v-img>
        </v-list-item>
        <v-list-item>
            <v-list-item-title>
                • <strong>I2DTP</strong> (C++, Qt) – Thesis project on vessel segmentation algorithms, featuring image and video visualization
            </v-list-item-title>
        </v-list-item>
        <v-list-item class="justify-center">
            <div class="d-flex flex-row justify-center align-center flex-wrap">
<!--            <v-img
                src="/public/DEER_orig.png"
                max-width="200"
                class="mx-2 my-4"
                alt="Image 2"
            ></v-img>-->
            <v-img
                src="/public/fig_5_0_2_a.png"
                max-width="200"
                class="mx-2 my-4"
                alt="Image 1"
            ></v-img>
            <v-img
                src="/public/DEER_bm99_si.png"
                max-width="200"
                class="mx-2 my-4"
                alt="Image 2"
            ></v-img>
            <v-img
                src="/public/DEER_bm99_pi.png"
                max-width="200"
                class="mx-2 my-4"
                alt="Image 3"
            ></v-img>
            </div>
        </v-list-item>
    </v-list>
</v-container>
</template>
