<template id="Archive">
<v-container>
    <v-list>
        <v-list-item>
            <v-list-item-content>
            <v-list-item-title>
                • <strong>Snake</strong> (Bryhton,Html) - simple classical snake game
            </v-list-item-title>
            </v-list-item-content>
        </v-list-item>
        <v-list-item>
            <v-list-item-content>
            <v-list-item-title>
                • <strong>I2DTP</strong> (C++, Qt) – Thesis project on vessel segmentation algorithms, featuring image and video visualization
            </v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </v-list>
</v-container>
</template>
