<template id="Dwh">
<v-container class="pl-0">
    <!-- TILE -->
    <tile
        title="DWH"
        subtitle="Data warehouse for webshop"
        tags="PostgreSQL, dbt, Airflow, Redash"
        icon="mdi-database"
        color="#FFCA28"
        @open="board = true"
    ></tile>
    <!-- DIALOG -->
    <v-dialog v-model="board" max-width="800px">
        <v-card style="position: relative;">
            <v-btn
            icon
            @click="board = false"
            style="position: absolute; top: 8px; right: 8px; z-index: 10;"
            >
            <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-container>
                <v-carousel
                    hide-delimiters
                    height="400"
                    show-arrows="hover"
                >
                    <v-carousel-item
                        v-for="(img, i) in images"
                        :key="i"
                    >
                        <v-img
                            :src="img"
                            contain
                        ></v-img>
                    </v-carousel-item>
                </v-carousel>
            </v-container>
        </v-card>
    </v-dialog>
</v-container>
</template>
