<template id="Graphics">
<v-container fluid>
    <v-row class="py-0">
      <v-col cols="12" class="py-0">
        <v-chip
        v-for="(tech, i) in technologies"
        :key="i"
        :color="tech.color"
        label
        size="small"
        class="ma-1"
        >
        [[ tech.name ]]
        </v-chip>
      </v-col>
    </v-row>
    <v-row class="py-0">
      <v-col cols="12" class="py-0 mt-5">
            <v-carousel :show-arrows="false">
                <v-carousel-item src="{{ site.baseurl }}/assets/graphics/camera.png"></v-carousel-item>
                <v-carousel-item src="{{ site.baseurl }}/assets/graphics/head.jpg"></v-carousel-item>
                <v-carousel-item src="{{ site.baseurl }}/assets/graphics/lighthouse.jpg"></v-carousel-item>
                <v-carousel-item src="{{ site.baseurl }}/assets/graphics/snail.jpg"></v-carousel-item>
                <v-carousel-item src="{{ site.baseurl }}/assets/graphics/linux_penguin.jpg"></v-carousel-item>
                <v-carousel-item src="{{ site.baseurl }}/assets/graphics/huba.png"></v-carousel-item>
            </v-carousel>
        </v-col>
    </v-row>
</v-container>
</template>
