<template id="Plc">
<v-container class="pl-0">
    <!-- TILE -->
    <tile
        title="PLC"
        subtitle="Coming soon"
        tags="Ladder"
        icon="mdi-electric-switch"
        color="#7B0323"
        @open="board = true"
    ></tile>
    <!-- DIALOG -->
    <v-dialog v-model="board" max-width="600px">
        <v-card style="position: relative;">
            <v-btn
            icon
            @click="board = false"
            style="position: absolute; top: 8px; right: 8px; z-index: 10;"
            >
            <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-container>
                plc content
            </v-container>
        </v-card>
    </v-dialog>
</v-container>
</template>
