<template id="Snake">
<v-container class="pl-0">
    <!-- TILE -->
    <tile
        title="Snake"
        subtitle="Simple classic game"
        tags="Html, Brython"
        icon="mdi-snake"
        color="#17A2B8"
        @open="board = true"
    ></tile>

    <!-- DIALOG -->
    <v-dialog v-model="board" max-width="600px">
        <v-card style="position: relative;">
            <v-btn
            icon
            @click="board = false"
            style="position: absolute; top: 8px; right: 8px; z-index: 10;"
            >
            <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-container>
                <v-carousel
                    hide-delimiters
                    height="400"
                    cycle
                    show-arrows="hover"
                >
                    <v-carousel-item
                        v-for="(img, i) in images"
                        :key="i"
                    >
                        <v-img
                            :src="img"
                            class="rounded"
                            contain
                        ></v-img>
                    </v-carousel-item>
                </v-carousel>
            </v-container>
        </v-card>
    </v-dialog>
</v-container>
</template>
