<template id="Tile">
<v-card
    class="mx-auto"
    :title="title"
    :subtitle="subtitle"
    style="height: 140px; position: relative;"
>
    <template v-slot:prepend>
        <div
            :style="{
                backgroundColor: color,
                borderRadius: '50%',
                width: '40px',
                height: '40px',
                display: 'flex',
                alignItems: 'center',
                justifyContent: 'center',
                color: 'white'
            }"
        >
            <v-icon size="24">[[ icon ]]</v-icon>
        </div>
    </template>

    <v-card-text>[[ tags ]]</v-card-text>

    <v-btn
        icon
        small
        variant="plain"
        style="position: absolute; top: 2px; right: 4px;"
        @click="$emit('open')"
    >
        <v-icon>mdi-image-multiple-outline</v-icon>
    </v-btn>
</v-card>
</template>
