<template id="Webshop">
<v-container class="pl-0">
    <!-- TILE -->
    <tile
        title="Webshop"
        subtitle="Online transaction system"
        tags="Django, Django REST framework, Vue, Vuex, Vuetify, Html, Css, Postman"
        icon="mdi-web"
        color="#1867C0"
        @open="board = true"
    ></tile>
    <!-- DIALOG -->
    <v-dialog v-model="board" max-width="700px">
        <v-card style="position: relative;">
            <v-btn
            icon
            @click="board = false"
            style="position: absolute; top: 8px; right: 8px; z-index: 10;"
            >
            <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-container>
                <h2>Testing</h2>
                <p>
                    I have passed the IQSTB base level exam. I wanted to create a simple testing script, so I started by learning, but I ended up making something much simpler yet, in my opinion, more informative.
                </p>
                <br/>
                <v-stepper v-model="step" :items="['User story', 'Scopes', 'Analysis', 'Test case', 'Result']">
                    <template v-slot:item.1>
                        <v-card flat style="height:370px; overflow-y:auto">
                            <v-card-text><div v-html="content.user_story"></div></v-card-text>
                        </v-card>
                    </template>
                    <template v-slot:item.2>
                        <v-card flat style="height:370px; overflow-y:auto">
                            <v-card-text><div v-html="content.scopes"></div></v-card-text>
                        </v-card>
                    </template>
                    <template v-slot:item.3>
                        <v-card flat style="height:370px; overflow-y:auto">
                            <v-card-text><div v-html="content.analysis"></div></v-card-text>
                        </v-card>
                    </template>
                    <template v-slot:item.4>
                        <v-card flat style="height:370px; overflow-y:auto">
                            <v-card-text><div v-html="content.test_case"></div></v-card-text>
                        </v-card>
                    </template>
                    <template v-slot:item.5>
                        <v-card flat style="height:370px; overflow-y:auto">
                            <v-card-text><div v-html="content.test_result"></div></v-card-text>
                        </v-card>
                    </template>
                </v-stepper>
            </v-container>
        </v-card>
    </v-dialog>
</v-container>
</template>
