<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tzkallo - showcase</title>

    <link href="{{ site.baseurl }}/assets/index.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/libs/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">

    <script src="{{ site.baseurl }}/libs/marked.min.js"></script>
    <script src="{{ site.baseurl }}/libs/vue.global.min.js"></script>
    <script src="{{ site.baseurl }}/libs/vue-router.global.js"></script>
    <script src="{{ site.baseurl }}/libs/vuetify.min.js"></script>

    <script>
        const BASE_URL = '{{ site.baseurl }}';
    </script>
    {% include webshop.html %}
    <script src="{{ site.baseurl }}/components/webshop.js"></script>
    {% include dwh.html %}
    <script src="{{ site.baseurl }}/components/dwh.js"></script>
    {% include snake.html %}
    <script src="{{ site.baseurl }}/components/snake.js"></script>
    {% include thesis.html %}
    <script src="{{ site.baseurl }}/components/thesis.js"></script>
    {% include graphics.html %}
    <script src="{{ site.baseurl }}/components/graphics.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 6px 12px;
            text-align: left;
        }
        th {
            background-color: #f5f5f5;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div id="app">
        <v-app>
            <v-container class="mx-auto" style="max-width:1080px;">
                <v-tabs v-model="tab" align-tabs="start">
                    <v-tab :value="1" @click="goTo('/webshop')"><v-icon icon="mdi-web"></v-icon> Webshop</v-tab>
                    <v-tab :value="2" @click="goTo('/dwh')"><v-icon icon="mdi-database"></v-icon> DWH</v-tab>
                    <v-tab :value="3" @click="goTo('/snake')"><v-icon icon="mdi-snake"></v-icon> Snake</v-tab>
<!--                     <v-tab :value="4"><v-icon icon="mdi-electric-switch"></v-icon> PLC</v-tab> -->
                    <v-tab :value="5" @click="goTo('/thesis')"><v-icon icon="mdi-image-filter-center-focus"></v-icon> Thesis</v-tab>
                    <v-tab :value="6" @click="goTo('/graphics')"><v-icon icon="mdi-image-multiple"></v-icon> Graphics</v-tab>
<!--                     <v-tab :value="7"><v-icon icon="mdi-list-box"></v-icon> Biblography</v-tab> -->
                </v-tabs>
                <div class="mt-4">
                    <router-view v-slot="{ Component }">
                        <component :is="Component" />
                    </router-view>
                </div>
            </v-container>
        </v-app>
    </div>
    <script>
        const { createApp } = Vue;
        const vuetify = Vuetify.createVuetify();
        const routes = [
            { path: '/webshop', component: Webshop },
            { path: '/dwh', component: Dwh },
            { path: '/snake', component: Snake },
            { path: '/thesis', component: Thesis },
            { path: '/graphics', component: Graphics },
            { path: '/', redirect: '/webshop' }
        ];

        const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes
        });

        const app = createApp({
            data() {
                return {
                    tab: 1
                }
            },
            methods: {
                goTo(path) {
                    router.push(path);
                }
            },
            watch: {
                '$route.path'(newPath) {
                    switch(newPath) {
                        case '/webshop': this.tab = 1; break;
                        case '/dwh': this.tab = 2; break;
                        case '/snake': this.tab = 3; break;
                        case '/thesis': this.tab = 5; break;
                        case '/graphics': this.tab = 6; break;
                        // case '/plc': this.tab = 5; break;
                        default: this.tab = 1;
                    }
                }
            },
            mounted() {
                this.$watch('$route.path', this.$options.watch['$route.path'].bind(this));
                switch(this.$route.path) {
                    case '/webshop': this.tab = 1; break;
                    case '/dwh': this.tab = 2; break;
                    case '/snake': this.tab = 3; break;
                    case '/thesis': this.tab = 5; break;
                    case '/graphics': this.tab = 6; break;
                    // case '/plc': this.tab = 5; break;
                    default: this.tab = 1;
                }
            }
        })
        .use(router)
        .use(vuetify)
        .component('webshop', Webshop)
        .component('dwh', Dwh)
        .component('snake', Snake)
        .component('thesis', Thesis)
        .component('graphics', Graphics)
        .mount('#app');
    </script>
</body>
</html>
